<div class="scores">
  <div class="column-3">
    <p class="score-column">
      <span class="text-scores">Limpieza </span>
      <span class="reviews-scores">{{detail.review_scores.review_scores_cleanliness}}</span>
    </p>
    <p class="score-column">
      <span class="text-scores">Comunicación </span>
      <span class="reviews-scores">{{detail.review_scores.review_scores_communication}}</span>
    </p>
    <p class="score-column">
        <span class="text-scores">Llegada </span>
        <span class="reviews-scores">{{detail.review_scores.review_scores_checkin}}</span>
    </p>
  </div>
  <div class="column-4">
    <p class="score-column">
      <span class="text-scores">Veracidad </span>
      <span class="reviews-scores">{{detail.review_scores.review_scores_accuracy}}</span>
    </p>
    <p class="score-column">
      <span class="text-scores">Ubicación </span>
      <span class="reviews-scores">{{detail.review_scores.review_scores_location}}</span>
    </p>
    <p class="score-column">
        <span class="text-scores">Calidad </span>
        <span class="reviews-scores">{{detail.review_scores.review_scores_rating}}</span>
    </p>
  </div>
</div>
