.bold{
  font-family: Oswald-Bold;
  font-weight: 700;
}
.espacio{
  margin: 2rem;
}

.estrella::before{
  content: "★";
}

.air-detail {
  display: block;
  position: relative;
  margin-top: 120px;
  font-family: Oswald-Bold;
  font-weight: 700;
}

.showPrice{
  margin: 1rem;
  border-radius: 5rem;
  border-color:0.5px darkgrey;
  width: auto;
}
.linea{
  border: solid 0.2px grey;
}
.pink{
  background-color: #ff5a60;
  color: white;
  width: 100%;
  border-color: #ff5a60;
}

.description {
  display: flex;
}

.column-1 {
  width: 60%;
}
.column-2 {
  width: 40%;
}

/* Clear floats after the columns */
.description:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper p{
  display: grid;
  grid-template-columns: 75% 25%;
}
.detalle{
  text-align: end;
}
