.bold{
  font-family: Oswald-Bold;
  font-weight: 700;
}
.espacio{
  margin: 2rem;
}

.estrella::before{
  content: "★";
}

.air-detail {
  display: block;
  position: relative;
  margin: 120px auto;
}

.showPrice{
  margin: 1rem;
  border-radius: 5rem;
  border-color:0.5px darkgrey;
  width: auto;
}
.linea{
  border: solid 0.2px rgb(212, 210, 210);
}
.pink{
  background-color: #ff5a60;
  color: white;
  width: 100%;
  border-color: #ff5a60;
}

.description, .scores, .reviews {
  display: flex;
}

.column-1 {
  width: 80%;
}
.column-2 {
  width: 40%;
}
.column-3, .column-4{
  width: 50%;
}
.column-5{
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.description:after, .scores:after, .reviews:after {
  content: "";
  display: table;
  clear: both;
}
.description .estrella{
  margin-left: 5rem;
}

.wrapper p{
  display: grid;
  grid-template-columns: 75% 25%;
}
.detalle{
  text-align: end;
}

.reviews-scores{
  width: 100%;
  text-align: end;
}
.reviews-scores::before{
  border: ''1px solid black;
}
.nameReview, .dateReview{
  margin-left: 2rem;
}

.map-container {
  width: 100%;
  height: 30rem;
}

.map-frame {
  border: 2px solid black;
  height: 30rem;
}

#map {
  width: 100%;
  height: 30rem;
}


@media (max-width: 480px) {
  .air-detail {
    margin-top: 100px;
  }
  .description, .reviews, .location {
    flex-direction: column;
  }
  .column-1, .column-2 {
    display: block;
    width: 100%;
  }
  .showPrice {
    margin: 0 0 24px;
  }
  .column-5 {
    width: 100%;
  }
  .map-container {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .air-detail {
    margin-top: 100px;
  }
  .description, .reviews, .location {
    flex-direction: column;
  }
  .column-1, .column-2 {
    display: block;
    width: 100%;
  }
  .showPrice {
    margin: 0 0 24px;
  }
  .column-5 {
    width: 100%;
  }
  .map-container {
    margin: 0;
  }
}
