.bold{
  font-weight: 700;
}

.espacio{
  margin: 2rem;
}

.estrella::before{
  content: "★";
}
.cancellation{
  content: '';
}

.air-detail {
  display: block;
  position: relative;
  margin: 120px auto;
}

.showPrice{
  margin: 1rem;
  border-radius: 5rem;
  border-color:0.5px darkgrey;
  width: auto;
}

.pink{
  background-color: #ff5a60;
  color: white;
  width: 100%;
  border-color: #ff5a60;
}

.description, .reviews {
  display: flex;
}

.column-1 {
  width: 80%;
}
.column-2 {
  width: 40%;
}
.column-5{
  float: left;
  width: 40%;
}

.description::after, .reviews::after {
  content: "";
  display: table;
  clear: both;
}

.description .estrella{
  margin-left: 5rem;
}

.wrapper p{
  display: grid;
  grid-template-columns: 75% 25%;
}
.detalle{
  text-align: end;
}

.nameReview, .dateReview{
  margin-left: 2rem;
}


@media (max-width: 767px) {
  .air-detail {
    margin-top: 100px;
  }
  .description, .reviews, .location {
    flex-direction: column;
  }
  .column-1, .column-2 {
    display: block;
    width: 100%;
  }
  .showPrice {
    margin: 0 0 24px;
  }
  .column-5 {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .air-detail {
    margin-top: 100px;
  }
  .description, .reviews, .location {
    flex-direction: column;
  }
  .column-1, .column-2 {
    display: block;
    width: 100%;
  }
  .showPrice {
    margin: 0 0 24px;
  }
  .column-5 {
    width: 100%;
  }
}
