<app-header></app-header>
<main class="container mt-5">
  <div class="air-detail">
    <h2 class="air-detail__title">{{detail.name}}</h2>
    <span class="estrella" *ngIf="detail.reviews.length > 0">{{detail.review_scores.review_scores_value}} · {{detail.reviews.length}} evaluaciones · </span>
    <span class="bold"> <a class="link-dark" href="#">{{detail.address.street}}</a></span>
    <div class="espacio"></div>
    <div>
      <img src="{{detail.images.picture_url}}" alt="{{detail.name}}" class="rounded float-center img-fluid">
    </div>
    <div class="espacio"></div>
    <div class="description">
      <div class="column-1">
        <h5 class="bold">{{detail.property_type}}</h5>
        <p>
          <span>{{detail.accommodates}} viajeros · </span>
          <span>{{detail.bedrooms}} dormitorios · </span>
          <span>{{detail.beds}} camas · </span>
          <span>{{getFormattedString(detail.bathrooms.$numberDecimal)}} baños </span>
        </p>
        <div class="line"></div>
        <p><span class="cancellation"> Cancelación: {{detail.cancellation_policy}}</span></p>
        <div class="line"></div>
        <p>{{detail.description}}</p>
      </div>
      <div class="column-2">
        <div class="shadow-lg p-3 mb-4 bg-gradient rounded showPrice">
          <div class="wrapper">
            <span class="bold">{{+detail.price.$numberDecimal | convertToDolar}}$</span> <span>/ noche </span>
            <span class="estrella" *ngIf="detail.reviews.length > 0">{{detail.review_scores.review_scores_value}} · {{detail.reviews.length}} evaluaciones</span>
          </div>

          <form [formGroup]="reservar" class="form-group">
            <label for="llegada" class="form-label">LLEGADA</label>
            <input id="llegada" type="date" formControlName="llegada" class="form-control" (ngModelChange)="getDates()">

            <label for="salida" class="form-label">SALIDA</label>
            <input id="salida" type="date" formControlName="salida" class="form-control" (ngModelChange)="getDates()">

            <label for="viajeros" class="form-label">HUÉSPEDES</label>
              <select class="form-select" formControlName="viajeros" selected>
                <option ngValue="" >Selecciona número viajeros</option>
                <option ngValue="{{i}}" *ngFor="let viajero of viajerosList; let i= index">{{viajero}}</option>
            </select>

            <div class="espacio"></div>
            <button class="btn btn-info pink">Reservar</button>
            <p class="text-center">No se te cobrará nada aún</p>
            <div class="wrapper">
              <p>
                <span><a class="link-dark" href="#">{{+detail.price.$numberDecimal | convertToDolar}} $ x {{days}} noches </a></span>
                <span class="detalle">{{+detail.price.$numberDecimal * days | convertToDolar}} $</span></p>
              <p *ngIf="detail.cleaning_fee">
                <span><a class="link-dark" href="#">Gastos de limpieza </a></span>
                <span class="detalle">{{+detail.cleaning_fee.$numberDecimal | convertToDolar}} $</span></p>
              <p *ngIf="detail.security_deposit">
                <span><a class="link-dark" href="#">Comisión de servicio </a></span>
                <span class="detalle">{{+detail.security_deposit.$numberDecimal | convertToDolar}} $</span></p>
              <p *ngIf="detail.guests_included">
                <span><a class="link-dark" href="#">Impuestos y tarifas sobre el alojamiento </a></span>
                <span class="detalle">{{+detail.guests_included.$numberDecimal | convertToDolar}} $</span></p>
              <div class="line"></div>
              <div class="espacio"></div>
              <p class="bold">
                <span>Total </span>
                <span class="detalle">{{getTotalPrice() | convertToDolar}} $</span></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <p>
      <span class="estrella detalle" *ngIf="detail.reviews.length > 0">{{detail.review_scores.review_scores_value}} · {{detail.reviews.length}} evaluaciones</span>
    </p>
    <div class="scores">
      <div class="column-3">
        <p>
          <span>Limpieza </span>
          <span class="reviews-scores">{{detail.review_scores.review_scores_cleanliness}}</span>
        </p>
        <p>
          <span>Comunicación </span>
          <span class="reviews-scores">{{detail.review_scores.review_scores_communication}}</span>
        </p>
        <p>
            <span>Llegada </span>
            <span class="reviews-scores">{{detail.review_scores.review_scores_checkin}}</span>
        </p>
      </div>
      <div class="column-4">
        <p>
          <span>Veracidad </span>
          <span class="reviews-scores">{{detail.review_scores.review_scores_accuracy}}</span>
        </p>
        <p>
          <span>Ubicación </span>
          <span class="reviews-scores">{{detail.review_scores.review_scores_location}}</span>
        </p>
        <p>
            <span>Calidad </span>
            <span class="reviews-scores">{{detail.review_scores.review_scores_rating}}</span>
        </p>
      </div>
    </div>
    <div class="espacio"></div>
    <div *ngIf="detail.reviews.length > 0" class="reviews">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div *ngFor="let review of reviewsList; let i = index">
          <p class="nameReview bold">{{review.reviewer_name}}</p>
          <p class="dateReview">{{review.date | date :'MMMM, YYYY'}}</p>
          <p>{{review.comments}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="detail.reviews.length > 10">
      <button class="btn btn-outline-info" (click)="seeAllReviews()">{{buttonReviews}}</button>
      <div class="espacio"></div>
    </div>
    <div *ngIf="detail.reviews.length > 0" class="line"></div>
    <div class="espacio"></div>
    <div class="location">
      <p class="bold">¿Donde me voy a quedar?</p>
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
      <div>
        <p class="bold">{{detail.address.street}}</p>
      </div>
    </div>
    <div class="espacio"></div>
    <div class="host">
      <p class="bold"><img src="{{detail.host.host_picture_url}}" class="img-anfitrion" alt="{{detail.host.host_name}}" >
        <span> Anfitrión: {{detail.host.host_name}}</span>
      </p>
      <p>
        <span class="estrella" *ngIf="detail.reviews.length > 0">{{detail.review_scores.review_scores_value}} </span>
        <span class="verified text-end" *ngIf="detail.host.host_identity_verified"> Identidad verificada</span>
        <span class="not-verified text-end" *ngIf="!detail.host.host_identity_verified"> Identidad no verificada</span>
      </p>
      <p *ngIf="detail.host.host_is_superhost">
        <span class="anfitrion"> Superanfitrión</span></p>
      <p>
        {{detail.host.host_about}}
      </p>
      <p>Ratio de respuesta: {{detail.host.host_response_rate}} %</p>
      <p>Tiempo de respuesta: {{detail.host.host_response_time}}</p>
    </div>
  </div>
</main>
