@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald';
}

.u-hide-accessible {
    position: absolute;
    left: -9999px;
}

.container-fluid {
    max-width: 1600px;
}

.air-pagination {
    text-align: center;
}

.air-pagination .ngx-pagination .current {
    background: #ff5a60;
}


