<header class="air-header">
    <div class="air-header__logo-container">
        <a href="#" title="Click aquí para volver al índice de la página">
            <img class="air-header__logo" src="../assets/airbnb-logo.png" alt="" />
        </a>
    </div>
    <div class="air-search">
        <form method="post" action="#">
        <fieldset class="air-search__fieldset">
            <div class="air-search__container">
                <label class="u-hide-accessible" for="search">Formulario de búsqueda</label>
                <input class="air-search__input" type="search" name="search" value=""/>
                <button class="air-search__btn" type="button">
                    <span class="u-hide-accessible">Buscar</span>
                </button>
            </div>
        </fieldset>
        </form>
    </div>
</header>