<div class="row row-cols-1 row-cols-md-4 g-4" ng-if="searchResponse[i]">
  <div *ngFor="let cities of searchResponse | paginate: config;let i = index">
    <div class="card">
      <img src="{{cities.images.picture_url}}" alt="Avatar" (click)="cardClick(i)">
      <div class="container">
        <h4><b>{{cities.name}}</b></h4>
        <h4><b>{{cities.price.$numberDecimal}}</b></h4>
        <h4><b>{{cities.address.street}}</b></h4>
      </div>
    </div>
  </div>
  <div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
</div>
